react-tauri/src/test/test_mail_body_dict.json
react-tauri/public/mail_body_dict.json
react-tauri/src/test/all_tag_list.json
react-tauri/src/test/mail_to_tag_dict.json
react-tauri/src/test/tag_to_mail_dict.json
react-tauri/yarn.lock
node_modules/.yarn-integrity
react-ionic
