#root {
  font-family: "Pretendard", "Noto Sans JP", "Noto Color Emoji", sans-serif;
  font-weight: 400;
}

::-webkit-scrollbar {
  width: 0.75rem;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 1px grey;
  padding: 1px;
}

::-webkit-scrollbar-thumb {
  background-color: #f986ae;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #ff2974;
}

li button:focus {
  outline: none;
  border: 2px solid pink;
}

a:focus {
  outline: none;
}
