::-webkit-scrollbar {
  display: hidden;
}

li button:focus {
  outline: none;
  border: 2px solid pink;
}

a:focus {
  outline: none;
}

path {
  stroke-width: 2px;
}

.focus\:border-2:focus {
  border-width: 2px;
  border-color: hsla(var(--p), alpha);
}

body {
  font-family: 'Pretendard';
}

.tab.tab-active {
  border-color: hsla(var(--s));
  color: hsla(var(--s));
}

.scrollbar__thumb {
  background-color: #f986ae !important;
  border-radius: 2rem !important;
}

.scrollbar__thumbPlaceholder--vertical {
  width: 1.2rem !important;
}

.scrollbar__thumb--horizontal {
  display: none !important;
}